module ulogd2 1.0;

require {
	type ulogd_t;
	type sssd_var_lib_t;
	type passwd_file_t;
        type var_run_t;
	class dir { search write };
	class file { read open getattr };
}

#============= ulogd_t ==============
allow ulogd_t passwd_file_t:file { read open getattr };
allow ulogd_t sssd_var_lib_t:dir search;
allow ulogd_t var_run_t:dir write;
