[Unit]
Description=Netfilter Userspace Logging Daemon
Documentation=https://www.netfilter.org
ConditionFileNotEmpty=/etc/ulogd/ulogd.conf

[Service]
User=ulogd
Group=ulogd
Type=forking
PIDFile=/run/ulog/ulogd.pid
ExecStart=/usr/sbin/ulogd --daemon --uid ulog --pidfile /run/ulog/ulogd.pid --config /etc/ulogd/ulogd.conf
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT

[Install]
Alias=ulogd.service
WantedBy=multi-user.target

