module ulogd2 1.0;

require {
  type ulogd_t;
  type init_t;
  type passwd_file_t;
  type sssd_var_lib_t;
  type sssd_public_t;
  type var_run_t;
  type var_log_t;
  type systemd_userdbd_runtime_t;
  class file { open read getattr create write lock unlink };
  class dir { search read write add_name remove_name };
  class sock_file { write };
  class unix_stream_socket { connectto };
  class capability { dac_override dac_read_search };
}

#============= ulogd_t ==============
allow ulogd_t init_t:unix_stream_socket connectto;
allow ulogd_t passwd_file_t:file { read open getattr };
allow ulogd_t sssd_public_t:file { read open getattr };
allow ulogd_t sssd_var_lib_t:sock_file write;
allow ulogd_t sssd_var_lib_t:dir search;
allow ulogd_t systemd_userdbd_runtime_t:dir read;
allow ulogd_t systemd_userdbd_runtime_t:sock_file write;
allow ulogd_t var_run_t:dir { write add_name remove_name };
allow ulogd_t var_run_t:file { create open read write lock getattr unlink };
allow ulogd_t self:capability { dac_override dac_read_search };
allow ulogd_t var_log_t:file open;
